 body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 20px;
      color:rgba(255, 255, 255, 0);
      background-color: rgba(229, 103, 19, 0.909);

 }

 header h1 {
    color: rgb(32, 31, 4);
 }

 img{
    width: 550px;
    border-radius: 500px;
    margin: 100px 0;

 }

 a {
    color: rgb(81, 16, 16);
    text-decoration: none;
    font-weight: bold;

 }

 footer {

    margin-top: 30px;
    color: rgba(0, 0, 0, 0);
    font-weight: bold;

 }
